<div class="container info-card">
  <i class="material-icons" style="font-size: 36px; float:left">schedule</i>
  <div id="schedule">
    <div class="row">
      <h2>Schedule</h2>
      <div class="col-lg-10 col-lg-offset-1">
        <br>
        <table class="table table-hover table-responsive table-striped">
          <thead>
            <th style="text-align: left !important">Date</th>
            <th style="text-align: left !important">Time</th>
            <th style="text-align: left !important">Appointment</th>
            <th class="hide-table-col-mobile" style="text-align: left !important">Location</th>
            <th class="hide-table-col-mobile" style="text-align: left !important">Description</th>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td>
                  <span style="font-size: 14px"><%=event.start.strftime('%m/%d/%Y')%></span>
                  <br>
                  <span style="color:#555;"><%=event.start.strftime('%A')%></span>
                </td>
                <td style="min-width: 150px;"><%=event.start.strftime('%l:%M %P')%> - <%=event.ends.strftime('%l:%M %P')%></td>
                <% unless Lead.find_by_id(event.lead_id).nil? %>
                  <td><%= link_to event.title, lead_path(event.lead_id) %></td>
                <% else %>
                  <td><%= event.title %></td>
                <% end %>
                <% unless Lead.find_by_id(event.lead_id).nil? %>
                  <td class="hide-table-col-mobile"><%= Lead.find_by_id(event.lead_id).address + ', ' + Lead.find_by_id(event.lead_id).city + ', ' + Lead.find_by_id(event.lead_id).state %></td>
                <% else %>
                  <td class="hide-table-col-mobile"></td>
                <% end %>
                <td class="hide-table-col-mobile">
                  <%= event.description %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
