<div class="container  info-card" style="margin-top: -10px">
  <i class="material-icons" style="font-size: 36px; float:left">timeline</i>
  <h2>Reports</h2>

  <div class="row" id="reports">
      <div class="col-md-6">
        <div id="piechart" style="width: 600px; height: 400px;"></div>
      </div>
      <div class="col-md-6">
        <div id="barchart" style="width: 600px; height: 400px;"></div>
      </div>
  </div>
</div>
<script>
$('#search-icon').click(function() {
    $('#advanced-search-bar').slideToggle();
});
</script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart', 'bar']});
  google.charts.setOnLoadCallback(pieChart);
  google.charts.setOnLoadCallback(barChart);


  var contacted = '<%= @leads.where(:contacted => true).count %>';
  var lead_closed = '<%= @leads.where(:closed => true).count %>';
  var projectStarted = '<%= @leads.where(:begin_project => true).count %>';
  var projectFinished = '<%= @leads.where(:finished_project => true).count %>';
  var sentThankYou = '<%= @leads.where(:send_thank_you => true).count %>';

  function pieChart() {

    var data = google.visualization.arrayToDataTable([
      ['Activity', 'Count'],
      ['Contacted', parseInt(contacted)],
      ['Closed', parseInt(lead_closed)],
      ['Project Started', parseInt(projectStarted)],
      ['Project Finished', parseInt(projectFinished)],
      ['Sent Thank You', parseInt(sentThankYou)]
    ]);

    var options = {
      title: 'Lead Activities'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
  function barChart() {
      var data = google.visualization.arrayToDataTable([
        ['Activity', 'Count', {role: 'style'}],
        ['Contacted', parseInt(contacted), 'bronze'],
        ['Closed', parseInt(lead_closed), 'red'],
        ['Project Started', parseInt(projectStarted), 'gold'],
        ['Project Finished', parseInt(projectFinished), 'green'],
        ['Sent Thank You', parseInt(sentThankYou), 'purple']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Track Your Lead Stats",
        width: 500,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart"));
      chart.draw(view, options);
  }
</script>
