<div class="container info-card"  style="margin-top: -10px">
  <i class="material-icons" style="font-size: 36px">people</i>
  <div id="lead-tracking-table">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>All Leads</h2>
      <br>
      <!--<div class="col-lg-12" id="search-background">
        <h5 class="container hide-on-mobile"  id="search-icon"><span class="glyphicon glyphicon-search"></span> Advanced Search</h5>
        <%= render '/users/search_form' %>
      </div>
    -->
      <div id="all-leads-table">
        <table class="table table-hover table-bordered table-striped table-responsive">
          <thead>
            <th>Name</th>
            <th class="hide-table-col-mobile">Address</th>
            <th>Phone Number</th>
            <th class="hide-table-col-mobile">Services</th>
            <th>Photos</th>
          </thead>
          <tbody>
            <% @leads.each do |lead| %>
              <tr>
                <td><%= link_to lead.fullname, lead_path(lead) %></td>
                <td class="hide-table-col-mobile"><%= lead.address %>, <%= lead.city %>, <%= lead.state %> <%= lead.zip %></td>
                <td><%= number_to_phone(lead.phonenumber,  area_code: true) %></td>
                <% unless lead.services.nil? %>
                  <td class="hide-table-col-mobile"><%= (lead.services.reject(&:empty?).map { |i| Service.find_by_id(i).name }).join(', ') %></td>
                <% end %>
                <td style="text-align: center">
                  <% if lead.images.empty? %>
                    <%= link_to '<i class="material-icons" style="color:red !important;vertical-align: middle !important;">info</i>'.html_safe, new_lead_photo_path(lead) %>
                  <% else %>
                    <%= link_to '<i class="material-icons" style="color:green !important;vertical-align: middle !important;">check_circle</i>'.html_safe, lead_path(lead) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
          <%= will_paginate @leads %>
        </div>
      </div>
    </div>
  </div>
</div>
