<div class="container info-card"  style="margin-top: -10px">
  <i class="material-icons" style="font-size: 36px">info</i>
  <div id="lead-tracking-table">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Tasks</h2>
        <h5 style="text-align: center"><i> If you see a task here, but the lead isn't assigned to you, contact your administrator so you can be place on the lead</i></h5>
        <br>
        <div id="task-table">
          <table class="table table-hover table-bordered table-responsive table-striped">
            <thead>
              <th>Event</th>
              <th>Appointment Time</th>
              <th>Task</th>
              <th>Action</th>
            </thead>
            <tbody id="all-leads-table-rows">
            <% @events.where.not(:lead_id => nil).where(:user_id => @user.id).each do |event| %>
            <% lead = Lead.find_by_id(event.lead_id) %>
              <% if !event.future_event? && lead.lead_task == 'Rehash' || lead.lead_task.nil? %>
                <tr id='lead-task-<%=lead.id.to_s%>'>
                  <td style="text-align: center"><%= lead.fullname %></td>
                  <td style="text-align: center"><%= event.ends.strftime("%m/%d/%Y - %I:%m %p") %></td>
                  <td style="text-align: center">Follow up on Lead</td>
                  <td style="text-align: center">
                    <%= bootstrap_form_for lead, url: lead_lead_task_path(lead), remote: true, class: 'leads-table' do |f| %>
                      <%= f.form_group :lead_task, remote: true do %>
                        <%= f.radio_button :lead_task, "NG", id: 'NG', label: "NG", inline: true, class: 'lead-task-radios', remote: true, onchange: "this.form.submit();$('#'+this.closest('tr').id).remove();$('div#all-leads-table').load(document.URL +  ' div#all-leads-table');" %>
                        <%= f.radio_button :lead_task, "Rehash", id: 'Rehash', label: "Rehash", inline: true, class: 'lead-task-radios', remote: true, onchange: "this.form.submit();" %>
                        <%= f.radio_button :lead_task, "Sold", id: 'Sold', label: "Sold", inline: true, class: 'lead-task-radios', remote: true, onchange: "this.form.submit();$('#'+this.closest('tr').id).remove();$('div#all-leads-table').load(document.URL +  ' div#all-leads-table');" %>
                      <% end %>
                    <% end %>
                 </td>
               </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @events %>
      </div>
      </div>
    </div>
  </div>
</div>
