<div class="container info-card"  style="margin-top: -10px">
  <i class="material-icons" style="font-size: 36px">info</i>
  <div id="lead-tracking-table">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Tasks</h2>
        <br>
        <div id="task-table">
          <table class="table table-hover table-bordered table-responsive table-striped">
            <tbody id="all-leads-table-rows">
            <% counter = 0 %>
            <% @tasks.each do |task| %>
            <% lead = Lead.find_by_id(task.lead_id) %>
              <% if lead.lead_task == 'Rehash' || lead.lead_task.nil? %>
                <% counter += 1 %>
                <tr id='lead-task-<%=lead.id.to_s%>'>
                  <td style="text-align: center"><%= lead.fullname %></td>
                  <td style="text-align: center"><%= task.ends.strftime("%m/%d/%Y - %I:%m %p") %></td>
                  <td style="text-align: center">Follow up on Lead</td>
                  <td style="text-align: center">
                    <%= bootstrap_form_for lead, url: lead_lead_tasks_path(lead), class: 'leads-table' do |f| %>
                      <%= f.form_group :lead_task do %>
                        <%= f.radio_button :lead_task, "NG", id: 'NG', label: "NG", inline: true, onchange: 'this.form.submit();$("#"+this.closest("tr").id).remove();$("div#all-leads-table").load(document.URL +  " div#all-leads-table")' %>
                        <%= f.radio_button :lead_task, "Rehash", id: 'Rehash', label: "Rehash", inline: true, onchange: 'this.form.submit();' %>
                        <%= f.radio_button :lead_task, "Sold", id: 'Sold', label: "Sold", inline: true, onchange: 'this.form.submit();$("#"+this.closest("tr").id).remove();$("div#all-leads-table").load(document.URL +  " div#all-leads-table")' %>
                      <% end %>
                    <% end %>
                 </td>
               </tr>
              <% end %>
          <% end %>
        </tbody>
        <% if counter == 0 %>
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <b>You don't have any tasks at the moment!</b>
          </div>
        </div>
        <% else %>
          <thead class="table-bordered">
            <th>Event</th>
            <th>Appointment Time</th>
            <th>Task</th>
            <th>Action</th>
          </thead>
        <% end %>
      </table>
      <%= will_paginate @events %>
      </div>
      </div>
    </div>
  </div>
</div>
