<div class="container padding-top-25">
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'leadInfo')" id="defaultOpen">Lead</button>
    <button class="tablinks hide-table-col-mobile" onclick="openTab(event, 'financialInfo')">Finances</button>
    <button class="tablinks" onclick="openTab(event, 'jobSiteInfo')">Job Site</button>
    <button class="tablinks hide-table-col-mobile" onclick="openTab(event, 'serviceOrder')">Service Orders</button>
  </div>
  <div class="row info-card">
    <div id="leadInfo" class="tabcontent">
      <div class="row">
        <i class="material-icons" style="float:left;font-size:32px">person_pin</i>
      </div>
      <%= render 'lead' %>
    </div>

    <div id="financialInfo" class="tabcontent">
      <div class="row">
        <i class="material-icons material-icon-tabs">account_balance</i>
      </div>
      <%= render 'finances' %>
    </div>

    <div id="jobSiteInfo" class="tabcontent">
      <div class="row">
        <i class="material-icons material-icon-tabs">add_location</i>
      </div>
      <%= render 'jobsite' %>
    </div>
    <div id="serviceOrder" class="tabcontent">
      <div class="row">
        <i class="material-icons material-icon-tabs">history</i>
      </div>
      <%= render 'serviceorders' %>
    </div>
  </div>
  <div class="row details-card">
   <i class="material-icons material-icon-tabs">chat</i>
    <div class="col-lg-10">
      <h3>Comments</h3>
      <div id="comments">
        <% @lead.comments.each do |comment| %>
          <% unless comment.nil? %>
            <div id="comment-<%= comment.id %>">
               <%= button_to "Delete", lead_comment_path(@lead, comment), method: :delete, :class=>'btn btn-xs btn-danger', :style => "float:left;margin-top:6px !important;", remote: true %> &nbsp;
               <h5 style="display: inline-block; margin-top:5px"> <%= comment.comment %> </h5>
               <h6 style="padding-left: 55px;margin-top:-10px !important; color:#666;"> <%=comment.created_at.strftime('%c') %> </h6>
            </div>
          <% end %>
        <% end %>
      </div>
        <%= bootstrap_form_for :comments, url: lead_comments_path(@lead), :html => {:method => :post}, remote: true  do |f| %>
          <%= f.text_field :comment, hide_label: true, placeholder: "Leave a comment...", append: f.primary('Leave a comment'), input_group_class: 'input-group-md' %>
        <% end %>
    </div>
  </div>
  <div class="row details-card">
   <i class="material-icons material-icon-tabs">access_time</i>
    <div class="col-lg-10">
      <h3>Appointments</h3>
      <% unless Event.where(:lead_id => @lead.id).empty? %>
        <table class="table table-hover table-responsive"  id="events">
          <br>
          <br>
          <thead>
            <th style="text-align: left !important">Date</th>
            <th style="text-align: left !important">Start Time</th>
            <th style="text-align: left !important">End Time</th>
            <th style="text-align: left !important">Appointment</th>
            <th style="text-align: left !important">Description</th>
          </thead>
          <tbody>
            <% Event.where(:lead_id => @lead.id).each do |event| %>
            <% unless event.start.nil? %>
              <tr id="event-<%= event.id %>">
                <td><%=event.start.strftime('%m/%d/%Y')%></td>
                <td><%=event.start.strftime('%l:%M %P')%></td>
                <td><%=event.ends.strftime('%l:%M %P')%></td>
                <td><%=event.title%></td>
                <td><%=event.description%></td>
                <!--<td><%= button_to "Delete", lead_event_path(@lead, event), method: :delete, :class=>'btn btn-link', :style => "float:left;padding:1px 0px 0px 0px !important;color:blue !important;", remote: true %></td>
                -->
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        This lead doesn't have any appointments. <%= link_to 'Want to add an appointment?', calendar_url(:lead_id => @lead.id) %>
      <% end %>
        <!--
        <button class="btn btn-default appointment-form-button width-100">Add Appointment</button>
        <div class="appointment-form">
          <br>
          <%= bootstrap_form_for :event, url: lead_events_path(@lead), :html => {:method => :post}, remote: true  do |f| %>
            <%= f.text_field :title, value: @lead.fullname %>
            <%= f.collection_select(:color, Service.all.where.not(:name => nil), :color, :name, :label => "Services", :include_blank => "N/A") %>
            <%= f.text_area :description, placeholder: "Meeting, lead follow-up, show, etc...", label: "Description", class: 'form-control' %>
            <%= f.datetime_select :start %>
            <%= f.datetime_select :ends %>
            <%= f.hidden_field :lead_id, value: @lead.id %>
            <% unless @user.nil? %>
              <%= f.hidden_field :user_id, value: @user.id %>
            <% else %>
              <% unless !User.any? %>
              <%= f.collection_select(:user_id, User.all.where.not(:first_name => nil), :id, :fullname, :label => "Assign to", :required => true) %>
              <% end %>
            <% end %>
            <%= f.hidden_field :redirect_alert, value: true %>
            <%= f.button 'Set Appointment', :class => "btn btn-primary btn-sm appointment-form-sub" %>
          <% end %>
      </div>
    -->
    </div>
  </div>
  <div class="row details-card">
    <i class="material-icons material-icon-tabs">photo</i>
    <div id="photos-table" class="col-lg-10">
      <h3>Files and Photos</h3>
      <% unless @lead.images.empty? %>
        <ul class="list-inline">
          <% file_counter = -1 %>
          <% @lead.images.each do |image| %>
          <% file_counter += 1 %>
            <% if File.extname(image.to_s) == '.png' || File.extname(image.to_s) == '.jpg' || File.extname(image.to_s) == '.jpeg' %>
              <li id='file-<%= file_counter %>'>
                <a href=<%=image.to_s%> target="_blank">
                  <%= image_tag image.to_s, alt: 'Image', class: 'img-thumbnail',  height: '180', width: '180' %>
                </a>
                <%= link_to '<i class="img-delete-icon material-icons" style="color: red !important;">remove_circle</i>'.html_safe, lead_photo_path(@lead, file_counter), method: :delete, remote: true %>
              </li>
            <% end %>
          <% end %>
      </ul>
      <ul class="list-inline">
        <% file_counter = -1 %>
        <% @lead.images.each do |image| %>
        <% file_counter += 1 %>
          <% unless File.extname(image.to_s) == '.png' || File.extname(image.to_s) == '.jpg' || File.extname(image.to_s) == '.jpeg' %>
            <li id='file-<%= file_counter %>'>
              <% puts image.inspect %>
              <%= link_to File.basename(image.to_s), image.to_s, alt: 'File', style: 'font-size: 16px; padding-right: 30px;', class: 'img-thumbnail btn btn-md btn-default' %>
              <%= link_to '<i class="file-delete-icon material-icons" style="color: red !important;">remove_circle</i>'.html_safe, lead_photo_path(@lead, file_counter), method: :delete, remote: true %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      This lead has no files. <%= link_to 'Want to add a file?', new_lead_photo_path(@lead)  %>
    <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">

function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
