<%= simple_form_for @event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title, placeholder: "Meeting, lead follow-up, show, etc...", label: "Title", input_html: { class: 'form-control event_title' }%>
    <%= f.input :lead_id, as: :hidden, input_html: {class: 'form-control input-sm lead_id' } %>
    <%= f.input :color, :collection => Service.all,:label_method => :name,:value_method => :color,:label => "Services" ,:include_blank => false %>
    <%= f.input :user_id,:collection => User.where.not(:first_name => nil),:label_method => :fullname,:value_method => :id,:label => "Salesperson" ,:include_blank => false, input_html: {:class => 'salesperson' } %>
    <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :ends, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.text_area :description, placeholder: "Meeting, lead follow-up, show, etc...", label: "Description", class: 'form-control' %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', style: 'color: white !important' %>
    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
<% end %>
