<table class="table table-hover table-striped pretty shadow-effect-1">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Salesperson</th>
        <th><%= sortable "created_at", "Date Created" %></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr class='clickable-row' data-href='leads/<%= customer.id %>'>
        <td><%= customer.fullname %></td>
        <td>
          <% unless customer.phone.nil? %>
          <%= number_to_phone(customer.phonenumber, area_code: true)%>
          <% end %>
        </td>
        <td>
          <% unless customer.address.nil? %>
            <%= customer.address %>, <%= customer.city %>
          <% end %>
        </td>
        <% unless User.find_by_id(customer.user_id).nil? %>
          <td><%= User.find_by_id(customer.user_id).fullname %></td>
        <% else %>
          <td></td>
        <% end %>
        <td scope="row"><%=customer.created_at.strftime("%m/%d/%y")%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
