<div class="container padding-top-25">
  <div class="row info-card">
    <i class="material-icons material-icon-tabs">person_pin</i>
    <div class="col-lg-5">
      <h3><%= @lead.fullname %>  <%= render 'links' %></h3>
      <hr>
      <br>
      <table class="table table-hover pretty">
        <tbody>
          <tr>
          <% unless @lead.address.nil? || @lead.address.empty? %>
            <td><b>Address</b> </td>
            <td><%= @lead.address %>, <%=@lead.city%>, <%=@lead.state%></td>
          <% end %>
          </tr>
          <tr>
            <% unless @lead.phone.nil? || @lead.phone.empty?  %>
            <td><b>Phone</b> </td>
            <td><%= number_to_phone(@lead.phonenumber, area_code: true) %></td>
              <% end %>
          </tr>
          <tr>
            <% unless @lead.email.nil? || @lead.email.empty?  %>
            <td><b>Email</b> </td>
                <td> <%= @lead.email %></td>
              <% end %>
          </tr>
          <tr>
            <% unless @lead.user.nil? %>
            <td><b>Salesperson</b> </td>
              <td><%= @user.first_name %> <%= @user.last_name %></h5></td>
              <% end %>
          </tr>
          <tr>
            <td><b>Services</b></td>
            <td>
              <% unless @lead.services.nil? %>
                <% @lead.services.each do |service| %>
                  <% unless service.nil? || service.empty? %>
                    <%= Service.find_by_id(service.to_i).name %>,
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr class="<%=@project_alert%>" style="background-color: <%= @project_date_color %>">
            <td><b>Project Due Date</b></td>
            <% unless @project.finish_date.nil? %>
              <td><%= @project.finish_date.strftime("%m/%d/%y") %></td>
            <% end %>
          </tr>
        <thead>
      </table>
    </div>
    <div class="col-lg-6 padding-top-25">
      <iframe
        width="100%"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBvEZgBoPE2Hj02TCkfweQxrGp4stARVig&origin=415+Terminal+Dr,McFarland+WI&destination= +
              <%= @lead.address.gsub(' ',' ') %>,<%=@lead.city %>+<%=@lead.state.strip%> +
              &avoid=tolls">
      </iframe>
    </div>
  </div>
  <div class="row details-card">
    <i class="material-icons material-icon-tabs">dashboard</i>
    <div class="col-lg-10">
      <h3>Project Tasks</h3>
        <div id="tasks">
          <% @lead.project.tasks.each do |task| %>
            <% unless task.nil? %>
              <div id="task-<%= task.id %>">
                <%= link_to 'Delete', lead_project_task_path(@lead, @lead.project, task), class: 'btn btn-xs btn-danger', style: 'margin-top: 10px;', controller: :projects, action: :destroy, method: :delete, remote: true %>
                <h5 style="display: inline-block; margin-top:5px;"><%= task.name %> </h5>
                <p style="padding-left: 55px;margin-top:-10px !important; color:#666;"> <%= task.details %></h6>
              </div>
            <% end %>
          <% end %>
          <%= bootstrap_form_for :task, url: lead_project_tasks_path(@lead, @lead.project), :html => {:method => :post}, remote: true  do |f| %>
            <%= f.collection_select(:name, Service.all, :name, :name, :label => 'Service', include_blank: true, required: true) %>
            <%= f.text_area :details,  placeholder: "eg. I need to call the manufacturer about this task.", required: true %>
            <%= f.button 'Add New Task', :class => "btn btn-primary btn-sm" %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="row details-card">
      <i class="material-icons material-icon-tabs">chat</i>
      <div class="col-lg-6">
        <h3>Comments</h3>
        <div id="comments">
          <% @lead.comments.each do |comment| %>
            <% unless comment.nil? %>
              <div id="comment-<%= comment.id %>">
                 <%= button_to "Delete", lead_comment_path(@lead, comment), method: :delete, :class=>'btn btn-xs btn-danger', :style => "float:left;margin-top:6px !important;", remote: true %> &nbsp;
                 <h5 style="display: inline-block; margin-top:5px"> <%= comment.comment %> </h5>
                 <h6 style="padding-left: 55px;margin-top:-10px !important; color:#666;"> <%=comment.created_at.strftime('%c') %> </h6>
              </div>
            <% end %>
          <% end %>
        </div>
          <%= bootstrap_form_for :comments, url: lead_comments_path(@lead), :html => {:method => :post}, remote: true  do |f| %>
            <%= f.text_field :comment, hide_label: true, placeholder: "Leave a comment...", append: f.primary('Leave a comment'), input_group_class: 'input-group-md' %>
          <% end %>
      </div>
  </div>
  <div class="row details-card">
    <i class="material-icons material-icon-tabs">photo</i>
    <div class="col-lg-10">
      <h3>Photos</h3>
      <% unless @lead.photos.empty? %>
      <ul class="img-list">
        <% @lead.photos.each do |photo| %>
          <% unless photo.image_uid.nil? %>
          <li id="img-<%= photo.image_uid %>">
            <a href='<%=Cloudinary::Utils.cloudinary_url(photo.image_uid, class: 'img-thumbnail', alt: photo.title)%>' target="_blank"><%= cl_image_tag(photo.image_uid, height: 1000, width: 1000, crop: :fill, class: 'img-thumbnail', alt: photo.title) %></a>
            <span class="text-content-bottom"><span><%= link_to raw("<span style='color:white' class='glyphicon glyphicon-trash'></span><span style='color:white;'>&nbsp;Remove</span>"), lead_photo_path(@lead, photo), :method => :delete, data: {confirm: "Are you sure?"}, remote: true %></span></span>
            <span class="text-content"><span><%= photo.title %></span></span>
          </li>
          <% end%>
        <% end %>
      </ul>
      <% else %>
        This lead has no photos. <%= link_to 'Want to add a photo?', new_lead_photo_path(@lead)  %>
      <% end %>
    </div>
  </div>
</div>
