
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 info-card">
      <h1><i id="material-icon-header" class="material-icons">assessment</i>Reports</h1>
      <br>
      <div id="lead-line-chart">
        <%= line_chart @data, label: "Leads", xtitle: "Weeks", ytitle: "Number of Leads Created" %>
      </div>
      <br>
      Date Range:
      <br>
      <%= simple_form_for :dates, remote: true do |f| %>
        <%= f.date_field :begin_date %>
        <%= f.date_field :end_date%>
        <%= f.submit "Go" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 info-card">
      <h2>Finances</h2>
      <br>
      <table class="table table-responsive table-striped">
        <thead>
          <th>Salesperson</th>
          <th>Jobs sold</th>
          <th>Money Brought In</th>
          <th>Percent of Total</th>
        </thead>
        <tbody>
          <% User.all.each do |user| %>
            <tr>
              <td><%= user.fullname %></td>
              <td><%= Lead.where(user_id: user.id).where(customer: true).count %></td>
              <td style="color:green">$<%= Lead.where(user_id: user.id).sum(:contract_total) %></td>
              <td><b><%= ((Lead.where(user_id: user.id).sum(:contract_total).to_f / Lead.sum(:contract_total).to_f)*100).round(2) %>%</b></td>
            </tr>
          <% end %>
          <tr>
            <td>Unassigned leads</td>
            <td><%= Lead.where(user_id: nil).where(customer: true).count %></td>
            <td style="color:green">$<%= ((Lead.where(user_id: nil).sum(:contract_total))) %></td>
            <td><b><%= ((Lead.where(user_id: nil).sum(:contract_total).to_f / Lead.sum(:contract_total).to_f)*100).round(2) %>%</b></td>
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td><%= Lead.where(customer: true).count %></td>
            <td style="color:green"><b>$<%= Lead.sum(:contract_total) %></b></td>
            <td><b>100.0%</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 info-card">
      <h2>Leads Given to Salespeople</h2>
      <br>
      <table class="table table-responsive table-striped">
        <thead>
          <th>Salesperson</th>
          <th>Sales Closed</th>
          <th>Total Number of Leads</th>
          <th>Closing Percentage</th>
        </thead>
        <tbody>
          <% User.all.each do |user| %>
            <tr>
              <td><%= user.fullname %></td>
              <td><%= Lead.where(user_id: user.id).where(customer: true).count %></td>
              <td><%= Lead.where(user_id: user.id).count %>
              <td><b><%= ((Lead.where(user_id: user.id).where(customer: true).count.to_f / Lead.where(user_id: user.id).count.to_f)*100).round(2) %>%</b></td>
            </tr>
          <% end %>
          <tr>
            <td><b>Total</b></td>
            <td><b><%= Lead.where.not(user_id: nil).where(customer: true).count %></b></td>
            <td><b><%= Lead.where.not(user_id: nil).count %></b></td>
            <td><b>100.0%</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
td {
  text-align: center;
}
</style>
